<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
    <title>angular-formly</title>
    <link rel="stylesheet" type="text/css" href="public/assets/style.css">
    <link rel="stylesheet" type="text/css" href="public/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/lib/angular-awesome-slider/dist/css/angular-awesome-slider.min.css">
</head>

<body ng-app="formlyApp" ng-controller="MainController as vm">

   
    <div class="container col-md-4 col-md-offset-4">
    
        <form novalidate>
            <span us-spinner spinner-key="spinner-1" spinner-start-active="true">
            </span>          
            <formly-form fields="vm.enclosureFields" form="vm.enclosureForm" model="vm.model" options="vm.options">           
            </formly-form>
        </form>
    </div>
     


    <!-- my custom templates here -->
    <script type="text/ng-template" id="custom-select-language.html">
        <div class="selectLanguage">
            <label>
                {{options.templateOptions.label}}
            </label>
            <select ng-model="model[options.key]" ng-options="option.value as option.name group by option.group for option in options.templateOptions.options">
            </select>

        </div>

        <br>
        <br>
    </script>
    <script type="text/ng-template" id="custom-select-enclosure.html">
        <div class="fields">
            <label>
                {{options.templateOptions.label}}
            </label>
            <select ng-model="model[options.key]" ng-options="option.articlenumber as option.description + '  ' + option.nominalwidth | filter:formState.width group by option.group for option in options.templateOptions.options  | filter: 300 " class="formControl">
            </select>
        </div>
    </script>
    <script type="text/ng-template" id="custom-select-rangeSlider.html">
        <div class="fields">
            <label>
                {{options.templateOptions.label}}
            </label>
            <br>
            <br>
            <input ng-model="value" type="text" slider options="rangeOptions" ng-disabled="disabled" />
        </div>
    </script>
    <script type="text/ng-template" id="custom-select-color.html">
        <div class="fields">
            <label for="{{id}}">
                {{options.templateOptions.label}}
            </label>
            <select ng-model="model[options.key]" ng-options="option.colors as option.colors group by option.group for option in options.templateOptions.options">
            </select>
        </div>
    </script>
</body>
<!-- Application Dependencies -->
<script src="bower_components/api-check/dist/api-check.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-formly/dist/formly.js"></script>
<script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
<script src="bower_components/angular-formly-templates-ionic/dist/angular-formly-templates-ionic.js"></script>
<!-- Spinner -->
<script src="bower_components/spin.js/spin.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.js"></script>
<!-- Slider Range -->
<script type="text/javascript" src="public/lib/angular-awesome-slider/dist/angular-awesome-slider.min.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular-sanitize.js"></script>
<!-- Application Scripts -->
<script src="app.js"></script>
<script src="public/scripts/MainController.js"></script>

</html>
